@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}
:root {
  --primary-color: #0d7cc6;
  --secondary-color: #f68712;
  --terty-color: #90c2e6;
  --black: #010101;
  --white: #f2f2f2;
  --background: aliceblue;
}
span {
  color: var(--secondary-color);
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 3vh;
  width: 95%;
  position: absolute;
  background-color: white;
  padding-inline: 2vw;
  height: 12vh;
  left: calc(50% - 47.7%);
  border-radius: 10px;
  z-index: 1;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h1,
h1 span {
  font-size: 1.5rem;
  color: var(--primary-color);
}
.image-content {
  height: 60px;
  width: 60px;
  object-fit: contain;
  overflow: hidden;
}
.image-content img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
}
ul li a {
  color: var(--black);
  font-weight: 500;
  font-size: 1rem;
}
.sign-out {
  padding: 1vh 2vw;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
}
.sign-out:hover {
  background-color: var(--terty-color);
}
